.aboutusbox {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.upperpart {
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
}
.upperpart h2 {
  text-align: center;
}

.personalcards {
  display: flex;
  gap: 4%;
  padding-left: 8%;
  padding-right: 8%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  margin-bottom: 1%;
}

.personandtitle {
  margin-bottom: 2%;
}

.personalcards p {
  text-align: justify;
}

@media (max-width: 800px) {
  .aboutusbox {
    padding: 50px 15px;
  }
  .upperpart {
    text-align: justify;
    padding-left: 8%;
    padding-right: 8%;
  }
  .personalcards {
    flex-direction: column;
    gap: 4%;
  }
}
