.p3box {
  display: flex;
  padding: 4% 9%;
  justify-content: space-between;
}

.featuresBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featuresTitle {
  margin-bottom: 8px;
  font-size: 3.8em;
  line-height: 48px;
  font-weight: 600;
}

@media (max-width: 975px) {
  .p3box {
    flex-direction: column;
    gap: 3em;
  }
}
