.p2box {
  display: flex;
  gap: 4rem;
  padding: 6% 9%;
  border-bottom: 1px solid #e4ebf3;
}
.p2left {
  flex-shrink: 1;
}
.p2right {
  flex-shrink: 0.9;
}

.secondDivParts {
  display: flex;
  gap: 4rem;
  align-items: center;
}

@media (max-width: 975px) {
  .p2box {
    flex-direction: column;
  }
}
