.navbarBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

.navbarLogo {
  width: 18vw;
  height: auto;
}
.navMenu {
  display: flex;
  gap: 25px;
}

.navbarBox a {
  text-decoration: none;
}

.navMenu a:hover,
.navMenu a:active,
.navMenu a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}

.menuIcon {
  display: none;
}

.navButton {
  padding: 12px 25px;
  border: 1px solid #0047ab;
  border-radius: 12px;
  background-color: #0047ab;

  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.iconicMenu {
  display: none;
}

@media (max-width: 975px) {
  .navbarBox {
    justify-content: space-between;
  }
  .navbarLogo {
    width: 30vw;
    height: auto;
  }
  .navMenu {
    display: none;
  }
  .navButton {
    display: none;
  }
  .menuIcon {
    display: block;
    height: 3.8rem;
    width: 3.8rem;
    cursor: pointer;
  }
  .iconicMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 0;
    gap: 5%;
  }
  .iconicLinks {
    padding: 2%;
  }
  .doubleLink {
    display: flex;
    gap: 8vw;
  }
  .iconicLogin {
    display: block;
    padding: 8px 16px;
    border: 1px solid #0047ab;
    border-radius: 12px;
    background-color: #0047ab;

    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
} ;
