.navbarBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}
.navbarBox nav {
  display: flex;
  gap: 25px;
}

.navButton {
  padding: 12px 25px;
  border: 1px solid #0047ab;
  border-radius: 12px;
  background-color: #0047ab;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbarBox a {
  text-decoration: none;
}

.navbarBox a:hover,
.navbarBox a:active,
.navbarBox a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}
